.cards__grid {
  display: grid;
  gap: 2em;
}

@media screen and (min-width: 50rem) {
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards__grid .card:first-of-type {
    grid-column: span 2;
  }
}

.card {
  border: 1px solid var(--light-grey);
  padding: 1.5em;
}

.card__header {
  margin-bottom: 1.5em;
}

.card__title {
  font-size: 2rem;
  text-transform: capitalize;
  word-wrap: anywhere;
  margin-bottom: .5em;
}

.card__actions {
  position:relative;
}

.card__actions__btn {
  color: var(--light-grey);
  font-size: 2rem;
}

.card__actions--displayed {
  position: absolute;
  right: 35%;
  top: 0;
  transform: translateY(-100%);
  width:max-content;
  padding: .5em 1em;
  background: white;
  border:1px solid var(--light-grey);
  display:flex;
  gap: 1em;
  border-radius:5px;
}

.card__action {
  font-size: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.card__action--edit {
  color: var(--blue-700);
}

.card__action--delete {
  color: var(--danger);
}

.card__author {
  font-style:italic;
  color: var(--text-grey);
}

.card__body {
  margin-bottom: 2em;
}

.readmore {
  background-color: var(--peach);
  color: var(--blue-700);
  font-size: .875rem;
  transition: filter .2s ease-in;
}


/* Dark mode */ 
.darkmode .card {
  border-color: var(--blue-400);
  background-color: var(--blue-800);
}

.darkmode .card__actions--displayed {
  background-color: var(--blue-900);
  border-color: var(--blue-400);
}

.darkmode .card__action--edit {
  color: var(--blue-200);
}

.darkmode .readmore {
  background-color: var(--blue-700);
  color: var(--peach);
}

@media screen and (min-width: 50rem) {
  .readmore:hover {
    filter:brightness(95%) saturate(150%);
  }
}