.delete-modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0 0 0 / 0.65);
  display:grid;
  place-items: center;
}

.delete-modal__content {
  background-color: #F5F7F0;
  border-radius: 5px;
  position: relative;
  display:flex;
  gap:.5em;
  width: min(80vw, 500px);
  padding:2rem 1rem;
}

.delete-modal__icon {
  color: var(--danger);
  font-size: 5rem;
  height: 32px;
}

.delete-modal__content p + p {
  margin-block: 1em;
}

.btn--delete,
.btn--neutral {
  font-weight: 700;
}

.btn--delete {
  color: var(--danger);
  background-color: var(--danger-bg);
}

.btn--neutral {
  color: var(--blue-700);
  background-color: var(--blue-200);
}

.p-warning {
  color: var(--danger);
  font-weight: 700;
}

/* Dark mode */
.darkmode .delete-modal__content {
  background-color: var(--blue-800);
}

.darkmode .btn--neutral {
  color: var(--blue-200);
  background-color: var(--blue-700);
}