.new-article,
.new-article__element {
  display:flex;
  flex-direction: column;
}

.new-article {
  gap: 1rem;
}

.new-article__title,
.new-article__content {
  padding: .5em;
}

.new-article__btn {
  background-color: var(--blue-700);
  color: var(--peach);
  text-transform: uppercase;
  font-weight: 700;
  width: max-content;
  align-self: end;
}

.error {
  color: var(--danger);
  background-color: var(--danger-bg);
  padding: .5em 1em;
  border-radius:5px;
}

.form-error {
  animation: shake .3s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}