@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

:root {
--blue-900: #0C1933;
--blue-800: #0F234A;
--blue-700: #1F4690;
--blue-400: #3A5BA0;
--blue-200: #BFCCE8;

--accent-clr: #FFA500;
--peach: #FFE5B4;

--text: var(--blue-900);
--text-grey: #868D9A;

/* borders */
--light-grey: #98A0B2;

--danger: #982121;
--danger-bg: #F6C5C5;

--light-shadow: 0px 2px 7px rgba(0 0 0 / .2);
}

.darkmode {
  color-scheme: dark;

  --text: #fff7ea;
  --text-grey: #A8B0BF;

  --danger: #ff9292;
  --danger-bg: #700000;
}

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin:0;
  width:100vw;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  color: var(--text);
  background-color: white;
}

main {
  padding: 2rem;
}

:where(.link-reset) {
  color: inherit;
  text-decoration: none;
}

button {
  background: unset;
  border: unset;
  font-size: inherit;
  cursor: pointer;
}

.btn {
  padding-block: .8em;
  padding-inline: 1.5em;
  border-radius: 5px;
  text-decoration: none;
  transition: filter .2s ease-out, box-shadow .2s ease-out;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--blue-700);
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* UTILS */

.flex-space-btw {
  display:flex;
  justify-content: space-between;
}

@media screen and (min-width: 50rem) {
  main {
    max-width: 1050px;
    margin-inline:auto;
  }

  h1 {
    text-align:center;
    font-size: 5rem;
  }

  :where(.btn:hover) {
    box-shadow: var(--light-shadow);
    filter:brightness(110%);
  }
}

/* Dark mode */
body.darkmode {
  background-color: var(--blue-900);
}

.darkmode h1 {
  color: var(--peach);
}

.darkmode input,
.darkmode textarea {
  background-color: var(--blue-800);
  border-color: var(--blue-400);
}