 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
 
 :root {
--blue-700: #1F4690;
--blue-400: #3A5BA0;
--blue-200: #BFCCE8;

--accent-clr: #FFA500;
--peach: #FFE5B4;

--text-black: #0C1933;
--text-grey: #868D9A;

/* borders */
--light-grey: #98A0B2;

--danger: #982121;
--danger-bg: #F6C5C5;
}

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin:0;
  width:100vw;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  color: var(--text-black);
}

main {
  padding: 2rem;
}


button {
  background: unset;
  border: unset;
  font-size: inherit;
  cursor: pointer;
}

.btn {
  padding-block: .8em;
  padding-inline: 1.5em;
  border-radius: 5px;
  text-decoration: none;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--blue-700);
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* UTILS */

.flex-space-btw {
  display:flex;
  justify-content: space-between;
}